* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding-top: 50px; /* To accommodate fixed navbar */
}

.navbar {
    background-color: #353197;
    position: fixed;
  
    top: 0;
    left: 0;
    width: 100%;
    opacity: 80%;
}

.navbar li rush{
    float: left;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
    
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #555;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar ul li:first-child {
    float: left; /* Align first item to the left */
    font-family: 'Fontspring-DEMO-gunterz-black.otf';
}

.image-container {
    position: relative;
    text-align: center;
}

.image-text {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight:bolder;
    font-family: "Montserrat", sans-serif;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

